body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 18%;
  text-align: center;
  padding: 10px;
}

/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
} */

.container {
  padding: 2px 16px;
}

.container h4 {
  margin: 1vh;
}

.clients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardList {
  list-style: none;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

.client-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.client-box img {
  width: 20%;
  padding: 2vw;
}

.client-box h2 {
  margin-top: 0px;
}

.client-box li {
  font-size: large;
}

.client-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  padding: 2vw;
}

.no-bottom {
  margin-bottom: 0px;
}

.no-top {
  margin-top: 0px;
}

ul .page-item {
  display: inline;
}

.page-item {
  list-style-type: none;
}
